{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center">
        <div class="container my-5 py-5">
            <h1 class="mb-5">Exporter mon calendrier FFVB sur n'importe quel agenda (Outlook, Google, ...)</h1>
            <p class="lead mb-4">
                Copier/coller votre calendrier FFVB<br/>
                commençant par : https://www.ffvbbeach.org/ffvbapp/resu/...<br/>
            </p>
            <form method="post" action="{{ path('selectTeam') }}">
                <div class="form-floating mb-3">
                    <input name="ffvbLink" class="form-control" id="ffvbLink" type="text" placeholder=""/>
                    <label for="ffvbLink">Lien FFVB</label>
                    <div class="invalid-feedback">Le lien FFVB est requis.</div>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary " type="submit"><i class="bi bi-download"></i>
                        Choisir mon équipe
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}