{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center">
        <div class="container py-5">
            <div class="text-center py-1">
                <img class="d-block mx-auto py-5" src="../assets/images/ffvbtogcal.png" alt="">
                <h2>Exporter mon calendrier FFVB</h2>
                <p class="lead">
                    Copier/coller le lien de votre calendrier FFVB commençant par : https://www.ffvbbeach.org/ffvbapp/resu/...<br/>
                    et exporter le  sur n'importe quel agenda (Outlook, Google, ...)<br/>
                </p>
            </div>
            <form method="post" action="{{ path('selectTeam') }}">
                <div class="form-floating mb-3">
                    <input name="ffvbLink" class="form-control" id="ffvbLink" type="text" placeholder=""/>
                    <label for="ffvbLink">Lien FFVB</label>
                    <div class="invalid-feedback">Le lien FFVB est requis.</div>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary " type="submit"><i class="bi bi-download"></i>
                        Choisir mon équipe
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}